[submodule "themes/hugo-serif-theme"]
	path = themes/hugo-serif-theme
	url = git@github.com:bredfern/hugo-serif-theme.git
[submodule "themes/hugo-serif-theme2"]
	path = themes/hugo-serif-theme2
	url = https://github.com/zerostaticthemes/hugo-serif-theme.git
[submodule "themes/hugo-nico-theme"]
	path = themes/hugo-nico-theme
	url = https://github.com/bredfern/hugo-nico-theme.git
